@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-fade-out {
  animation: slide-fade-out 0.3s forwards;
}

.slide-fade-in {
  animation: slide-fade-in 0.3s forwards;
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  transform: scale(0);
  animation: ripple 600ms linear;
}
