---
import Layout from '~/layouts/Layout.astro';
import MainContent from '~/components/core/MainContent.astro';
---

<Layout title="Welcome">
	<MainContent title="Welcome">
		<p>Please select a tool from the sidebar.</p>
	</MainContent>
</Layout>
